.bg-beige {
    background-color: beige !important; padding: 3rem 0! important;}
a {
    color: #f47000;}
    a:hover {
      color: #f47000; }
.masthead a i{outline: none;color:#ffffff;opacity: .3;}
.masthead a:hover i{opacity:.6;}

.bg-primary {
background-color: #f47000 !important; }
.bg-primary p{
color: #ffffff; }
.bg-primary ul{list-style: none;}
section#sinatrait{background:#212529 url(../img/sinatra-logo-bg.png) no-repeat right;}

#mainNav.navbar-shrink {
border-bottom: 1px solid rgba(33,37,41,.1);
background-color: rgba(000, 000, 000, .9);
}
#mainNav.navbar-shrink .navbar-brand {
color: #000000;
}
#mainNav {
    background-color: transparent;
    }
#mainNav .navbar-nav>li.nav-item>a.nav-link, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
    
    color: #b3b5b7;
}
@media (min-width: 992px){
#mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link, #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus{
    color: #b3b5b7;
}
}
#mainNav .navbar-nav>li.nav-item>a.nav-link.active, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active {
    color: #f47000!important;
    background-color: transparent;
}
.navbar-light .navbar-toggler-icon {background-color: #303030;border-radius: 3px;}
.text-primary {
color: #f47000!important;
font-size:2rem;
}

.portfolio-box .portfolio-box-caption{background: rgba(244,112,0,.9);}
.my-3 {
margin-bottom: 0px!important;
}
#services p{padding-top:1rem;border-top: 1px dashed #ccc;}
hr {
max-width: 50%;
border: 1px solid #cccccc;
opacity: .5;
}
.iso{width:100px;margin-top:15px;opacity:.7;}
.fluid-wrapper {
    position: relative;
    
    
}
.fluid-wrapper iframe {
    
    top: 0;
    left: 0;
    
    
    border: none;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content div{font-size: .7em;width:80%;}
.security-services{padding: 2rem 0;}
footer {
padding: 2rem 0; font-size: small;border-top:1px solid #cccccc;
}
.flashboop{display:none;position:absolute;top:-10000px;}
.displaynone{display:none;}
.update-actifio{background-image: url(../img/unleash-the-power-of-cloud.jpg);background-position: center bottom;    background-size: cover;}
